{% extends 'base.html.twig' %}

{% block title %}New GameMatch{% endblock %}

{% block body %}
    <h1>Create new GameMatch</h1>

    {{ include('game_match/_form.html.twig') }}

    <a href="{{ path('app_game_match_index') }}">back to list</a>
{% endblock %}
