{% extends 'base-front.html.twig' %}

{% block title %}Mon compte!{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bonjour {{app.user.firstname}}
<hr>
<div class="mb-3">

<p>
<a  href="{{path('app_account_adress')}}">Mes adresses</a>
</p>
<p>
<a  href="{{path('app_account_order')}}">Mes Commandes</a>
</p>
</div>
{% endblock %}

