<form method="post" action="{{ path('admin_order_delete', {'id': order.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette commande ?');" class="d-inline">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
  <button class="btn btn-danger">
    <i class="bx bx-trash me-1"></i> Supprimer
  </button>
</form>