<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ absolute_url(resetUrl) }}">{{ absolute_url(resetUrl) }}</a>

<p>This link will expire in 1 hour.</p>

<p>If you did not request a password reset, please ignore this email.</p>

<p>
Best regards,<br>
The HIVE Team
</p>